.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 45%;
  height: 45vh;
  top: 4rem;
  right: 0;
  background-color: #0c131f;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .showMenuNav {
    width: 30%;
    height: 50vh;
  }
}
