.hideMenuNav {
    display: none;
}
.showMenuNav {
    display: block;
    position: absolute;
    width: 50%;
    height: 70vh;
    top: 0;
    right: 0;
    background-color: #f1eeee;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (min-width: 1280px) {
     
        .showMenuNav{
            width: 40%;
            height: 70vh;
        }
  }