.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 45vh;
  height: 60vh;
  top: 4rem;
  right: 0;
  background-color: #0c131f;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-right-radius: 1rem /* 8px */;
  border-bottom-left-radius: 1rem /* 8px */;
}

@media screen and (min-width: 1280px) {
  .showMenuNav {
    width: 40vh;
    height: 60vh;
    border-bottom-right-radius: 1rem /* 8px */;
    border-bottom-left-radius: 1rem /* 8px */;
  }
}
