@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirBold";
  src: url("/src/fonts/AvenirLTStd-Heavy.otf");
}

@font-face {
  font-family: "AvenirNormal";
  src: url("/src/fonts/AvenirLTStd-Roman.otf");
}
